body {
  scroll-behavior: smooth;
}

.multipleLine {
  white-space: pre-wrap;
}

.profile {
  background-color: #ff0087;
  color: white;
  display: inline-block;
  font-size: 1em;
  width: 2.5em;
  height: 2.5em;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 1em;
}
.list-group-item-dark {
  background-color: #343a40;
  color: #ff0087;
  font-weight: 600;
}
.list-group-item-dark:hover {
  color: #ff0087;
  cursor: pointer;
}

.list-group-border {
  border-radius: 2%;
}
.selected {
  background-color: black;
}

.follow {
  background-color: #ff0087;
  position: relative;
  padding: 0.5rem 1rem;
  margin-bottom: 0.75rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.font-size-bigger {
  font-size: 1.2em;
  font-weight: bold;
}
.btn-followTab {
  width: 110px;
}

.text-pink {
  color: #ff0087;
}
.text-pink:hover {
  color: #ff2b9c;
}

.search {
  top: 130%;
  width: 12%;
  z-index: 100;
}
.cursor-p {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.app-bg {
  background-color: #343a40;
}

.loader {
  margin: auto;
  width: 50%;
  height: 50%;
  padding: 10px;
}
